name: CI
description: Project build action for AWS Lambda
outputs:
  build_id:
    description: "Application build images as output from CI" 
    value: ${{ steps.build-step.outputs.build_id }}
inputs:
  CLOUD_DEPLOYMENT_PAT:
    description: 'PAT to checkout cloud-deployment'
  DASHG_CLOUD_PLATFORM_PAT:
    description: 'PAT to access dashg-enterprises/cloud-platform'
  AWS_ACCESS_KEY_ID:
    description: 'AWS access key id'
  AWS_SECRET_ACCESS_KEY:
    description: 'AWS access key secret'
  AWS_REGION:
    description: 'AWS region'
  GIT_ORGANIZATION_NAME:
    description: 'Name of the organization to checkout cloud-deployment'
  S3_REPOSITORY:
    description: 'The name of the S3 bucket to use as a build repository for zip files'
  TG_DIR:
    description: 'The cloud-deployment directory to checkout'
  TG_SOURCE:
    description: "Relative path to the project's iac/initialization folder"
  TG_COMMAND:
    description: 'The Terragrunt command to execute'
    default: 'apply'
  TG_LOCAL_PATH:
    description: 'Where cloud-deployment will be placed in the workflow agent'
    default: 'deploy'
  TF_VERSION:
    description: 'The Terraform version to use'
    default: '1.9.3'
  TG_VERSION:
    description: 'The Terragrunt version to use'
    default: '0.63.6'
runs:
  using: "composite"
  steps:
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: Checkout cloud-deployment
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.GIT_ORGANIZATION_NAME }}/cloud-deployment
        token: ${{ inputs.CLOUD_DEPLOYMENT_PAT }}
        path: ${{ inputs.TG_LOCAL_PATH }}
        sparse-checkout: |
          ${{ inputs.TG_DIR }}
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
      with:
        aws-access-key-id: ${{ inputs.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ inputs.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ inputs.AWS_REGION }}

    # - run: ls -R

    - name: Ensure Bounded Context is initialized
      uses: gruntwork-io/terragrunt-action@v2
      env:
        INPUT_PRE_EXEC_1: |
          git config --global url."https://user:${{inputs.DASHG_CLOUD_PLATFORM_PAT}}@github.com/dashg-enterprises".insteadOf "https://github.com/dashg-enterprises"
        INPUT_PRE_EXEC_2: |
          git config --global url."https://user:${{inputs.CLOUD_DEPLOYMENT_PAT}}@github.com".insteadOf "https://github.com"
        INPUT_PRE_EXEC_3: |
          git config --global --list
      with:
        TF_VERSION: ${{ inputs.TF_VERSION }}
        TG_VERSION: ${{ inputs.TG_VERSION }}
        tg_dir: ${{ inputs.TG_LOCAL_PATH }}/${{ inputs.TG_DIR }}
        tg_command: '${{ inputs.TG_COMMAND }} --terragrunt-source ${{ inputs.TG_SOURCE }}'

    - name: Deploy build to bucket
      id: build-step
      shell: bash
      run: |
        npm run build;
        baseBuildId="${{ github.ref_name }}__${{ github.sha }}.zip";
        buildId=$(echo $baseBuildId | tr '/' '_');
        aws s3 cp dist.zip s3://${{ inputs.S3_REPOSITORY }}/$buildId;
        echo "build_id=$buildId" >> $GITHUB_OUTPUT;
