name: CD
description: Project deploy action
inputs:
  CLOUD_DEPLOYMENT_PAT:
    description: 'PAT to checkout cloud-deployment'
    default: ${{ secrets.CLOUD_DEPLOYMENT_PAT }}
  DASHG_CLOUD_PLATFORM_PAT:
    description: 'PAT to access dashg-enterprises/cloud-platform'
    default: ${{ secrets.DASHG_CLOUD_PLATFORM_PAT }}
  AWS_ACCESS_KEY_ID:
    description: 'AWS access key id'
    default: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY:
    description: 'AWS access key secret'
    default: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION:
    description: 'AWS region'
  GIT_ORGANIZATION_NAME:
    description: 'Name of the organization to checkout cloud-deployment' 
  TG_SOURCE:
    description: "Relative path to the project's iac folder from TG_DIR"
  TG_DIR:
    description: 'The cloud-deployment directory to checkout'
  TG_COMMAND:
    description: 'The Terragrunt command to execute'
    default: 'apply'
  TG_LOCAL_PATH:
    description: 'Where cloud-deployment will be placed in the workflow agent'
    default: 'deploy'
  TF_VERSION:
    description: 'The Terraform version to use'
    default: '1.9.3'
  TG_VERSION:
    description: 'The Terragrunt version to use'
    default: '0.63.6'
runs:
  using: "composite"
  steps:
    - name: Checkout cloud-deployment
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.GIT_ORGANIZATION_NAME }}/cloud-deployment
        token: ${{ inputs.CLOUD_DEPLOYMENT_PAT }}
        path: ${{ inputs.TG_LOCAL_PATH }}
        # sparse-checkout: |
        #   ${{ inputs.TG_DIR }}
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
      with:
        aws-access-key-id: ${{ inputs.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ inputs.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ inputs.AWS_REGION }}
    - name: Deploy to AWS
      uses: gruntwork-io/terragrunt-action@v2
      env:
        INPUT_PRE_EXEC_1: |
          git config --global url."https://user:${{inputs.DASHG_CLOUD_PLATFORM_PAT}}@github.com/dashg-enterprises".insteadOf "https://github.com/dashg-enterprises"
        INPUT_PRE_EXEC_2: |
          git config --global url."https://user:${{inputs.CLOUD_DEPLOYMENT_PAT}}@github.com".insteadOf "https://github.com"
        INPUT_PRE_EXEC_3: |
          git config --global --list
        INPUT_PRE_EXEC_4: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install
      with:
        TF_VERSION: ${{ inputs.TF_VERSION }}
        TG_VERSION: ${{ inputs.TG_VERSION }}
        tg_dir: ${{ inputs.TG_LOCAL_PATH }}/${{ inputs.TG_DIR }}
        tg_command: '${{ inputs.TG_COMMAND }} --terragrunt-source ${{ inputs.TG_SOURCE }}'